.circle {
     background-color: teal;
     height: 125px;
     width: 125px;
     border-radius: 100%;
     opacity: 0.8;
     display: inline-block;
     text-align: center;
     position: relative;
     margin: 0.5em;
}